html {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-size: 100% auto;
    background-image: url(../image/bg.jpg);
}

.area {
    width: 100%;
    height: 100%; 
    margin-left: 60px;
}

.main–°ontainer{
    background-color: #32312ec2;
    color: #2dac7bc5;
    padding: 20px;
    margin: 20px;
}





/* Scrollbar */
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:6px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#32312e36;
border-radius: 20px;
}

::-webkit-scrollbar-thumb {
background-color:#2f3241c5;
background-position:center;
background-repeat:no-repeat;
border-radius: 20px;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px
}

::-webkit-scrollbar{
width: 10px;
}